@use '../../styles/theme.scss';

:host {
    height: theme.$size-cel + 2px;
}

.colorcel {
    display: inline-block;
    width: theme.$size-cel;
    height: theme.$size-cel;
    border: 1px solid theme.$color-outline;
    border-radius: theme.$size-cel-rounding;
}
