@use 'normalize.css';

$size-padding: 10px;
$size-widget-margin: 1px;
$size-widget-padding: 3px;
$size-cel: 32px;
$size-cel-rounding: 2px;
$size-frame-rounding: 5px;
$size-frame-lip-height: 5px;
$size-widget-lip-height: 3px;
$size-input-lip-height: 2px;
$size-popup-shadow: 7px;
$size-popup-shadow-outer: 15px;
$color-back: #b7b5bf;
$color-text: #0c0c0d;
$color-text-selected: #fefeff;
$color-outline: #878992;
$color-outline-active: #c6136c;
$color-widget: #d6d6db;
$color-widget-inset: #a8abb0;
$color-widget-active: #efb5d2;
$color-input: #fefeff;
$color-frame: #f2f2f4;
$color-frame-outline: #77737f;
$color-popup: #eaeaed;
$color-popup-shadow: #0c0c0d28;
$color-popup-shadow-outer: #0c0c0d14;
$color-accent: #ee509f;

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Regular.woff);
  }

html, body {
    background-color: $color-back;
    color: $color-text;
    font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

::selection {
    color: $color-text-selected;
    background: $color-accent;
}

.flex-row {
    display: flex;
    align-items: center;
}

.frame {
    display: block;
    margin: $size-padding;
    padding: $size-padding;
    background-color: $color-frame;
    border: 1px solid $color-frame-outline;
    border-radius: $size-frame-rounding;
    box-shadow: 0px $size-frame-lip-height 0px $color-frame-outline;
}

.popup {
    display: block;
    padding: $size-padding;
    background-color: $color-popup;
    border: 1px solid $color-frame-outline;
    border-radius: $size-frame-rounding;
    box-shadow: 0px $size-frame-lip-height 0px $color-frame-outline, 0px $size-frame-lip-height 0px $size-popup-shadow $color-popup-shadow, 0px $size-frame-lip-height 0px $size-popup-shadow-outer $color-popup-shadow-outer;
}

.frame > :first-child
{
    margin-top: 0px;
}

.frame > :last-child
{
    margin-bottom: 0px;
}

button, [type=button], [type=reset], [type=submit], .widget {
    -webkit-appearance: none;
    margin: $size-widget-margin;
    padding: $size-widget-padding;
    background-color: $color-widget;
    border: 1px solid $color-outline;
    border-radius: $size-cel-rounding;
    border-bottom-width: $size-widget-lip-height;
    outline: none;
}

button:hover, .widget:hover {
    background-color: $color-widget-active;
    border-color: $color-outline-active;
}

button:focus, .widget:focus {
    background-color: $color-widget-active;
    border-color: $color-outline-active;
    box-shadow: 0px 0px 0px 2px $color-accent;
}

button:active, .widget:active {
    position: relative;
    top: $size-widget-lip-height - 1px;
    border-bottom-width: 1px;
    margin-bottom: $size-widget-lip-height;
}

.widget-pressed {
    margin: $size-widget-margin;
    margin-bottom: $size-widget-lip-height;
    padding: $size-widget-padding;
    background-color: $color-widget;
    border: 1px solid $color-outline;
    border-radius: $size-cel-rounding;
    border-bottom-width: 1px;
    position: relative;
    top: $size-widget-lip-height - 1px;
    outline: none;
}

input[type=text] {
    height: 17px;
    -webkit-appearance: none;
    background-color: $color-input;

    margin: 1px;
    border: 1px solid $color-outline;
    border-radius: $size-cel-rounding;
    border-top-width: $size-input-lip-height;
    outline: none;
}

input[type=text]:focus {
    border-color: $color-outline-active;
    box-shadow: 0px 0px 0px 2px $color-accent;
}

/*generated with Input range slider CSS style generator (version 20210711)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
}

/*progress support*/
/* TODO: This doesn't currently work with how Angular does things, need a workaround */
input[type=range].slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 16px + var(--ratio) * (100% - 16px));
}
  
input[type=range]:focus {
    outline: none;
}
  
/*webkit*/
input[type=range]::-webkit-slider-thumb {
    width: 16px;
    height: 20px;
    border-radius: $size-cel-rounding;
    background: $color-widget;
    border: 1px solid $color-outline;
    border-bottom-width: $size-widget-lip-height;
    margin-top: calc(max((4px - 1px - 1px) * 0.5, 0px) - max(20px * 0.5, 1px));
    -webkit-appearance: none;
}
  
input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: $size-cel-rounding;
    background: $color-widget-inset;
    border: 1px solid $color-outline;
    box-shadow: none;
}

input[type=range]:hover::-webkit-slider-thumb {
    background-color: $color-widget-active;
    border-color: $color-outline-active;
}

input[type=range]:focus::-webkit-slider-thumb {
    background-color: $color-widget-active;
    border-color: $color-outline-active;
    box-shadow: 0px 0px 0px 2px $color-accent;
}
  
input[type=range].slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient($color-accent, $color-accent) 0/var(--sx) 100% no-repeat, $color-frame;
}
  
/*mozilla*/
    input[type=range]::-moz-range-thumb {
    width: max(calc(16px - 1px - 1px), 0px);
    height: max(calc(20px - 1px - 1px), 0px);
    border-radius: $size-cel-rounding;
    background: $color-widget;
    border: 1px solid $color-outline;
    border-bottom-width: $size-widget-lip-height;
}
  
input[type=range]::-moz-range-track {
    height: max(calc(4px - 1px - 1px), 0px);
    border-radius: $size-cel-rounding;
    background: $color-widget-inset;
    border: 1px solid $color-outline;
    box-shadow: none;
}

input[type=range]:hover::-moz-range-thumb {
    background-color: $color-widget-active;
    border-color: $color-outline-active;
}
  
input[type=range]:focus::-moz-range-thumb {
    background-color: $color-widget-active;
    border-color: $color-outline-active;
    box-shadow: 0px 0px 0px 2px $color-accent;
}
  
input[type=range].slider-progress::-moz-range-track {
    background: linear-gradient($color-accent, $color-accent) 0/var(--sx) 100% no-repeat, $color-frame;
}
  
/*ms*/
input[type=range]::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}
  
input[type=range]::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}
  
input[type=range]::-ms-thumb {
    width: 16px;
    height: 20px;
    border-radius: $size-cel-rounding;
    background: $color-widget;
    border: 1px solid $color-outline;
    border-bottom-width: $size-widget-lip-height;
    margin-top: 0;
    box-sizing: border-box;
}
  
input[type=range]::-ms-track {
    height: 4px;
    border-radius: $size-cel-rounding;
    background: $color-widget-inset;
    border: 1px solid $color-outline;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range]:hover::-ms-thumb {
    background-color: $color-widget-active;
    border-color: $color-outline-active;
}
  
input[type=range]:focus::-ms-thumb {
    background-color: $color-widget-active;
    border-color: $color-outline-active;
    box-shadow: 0px 0px 0px 2px $color-accent;
}
  
input[type=range].slider-progress::-ms-fill-lower {
    height: max(calc(4px - 1px - 1px), 0px);
    border-radius: $size-cel-rounding 0 0 2px;
    margin: -1px 0 -1px -1px;
    background: $color-accent;
    border: 1px solid $color-outline;
    border-right-width: 0;
}
