<button [className]="buttonOpen ? 'widget-pressed' : ''" (click)='togglePopup()'>
    <div class="flex-row">
        <app-colorcel [color]='color'></app-colorcel><span class="arrow">▼</span>
    </div>
</button>
