<div class="frame">
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <h6>Header 6</h6>
    <p>It works!</p>

    <app-colorcel [color]='color'></app-colorcel>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>
    <app-color-input [color]='color' (colorChanged)='testComputeColor(color)'></app-color-input>

    <p>An auto-computed color based on output change notification:</p>

    <app-colorcel [color]='inverted'></app-colorcel>
</div>

<div class="main-color-picker">
    <app-color-picker [color]='color' (colorChanged)='testComputeColor(color)'></app-color-picker>
</div>

<div class="main-color-picker">
    <app-color-picker [color]='inverted'></app-color-picker>
</div>

<div class="main-color-picker">
    <app-color-picker [color]='color3' (colorChanged)='testComputeColor(color3)'></app-color-picker>
</div>
