@use '../../styles/theme.scss';

.color-picker {
    width: 308px;
}

.color-picker-lower {
    display: flex;
    align-items: flex-end;
}

.color-picker .label {
    display: inline-block;
    width: 24px;
    user-select: none;
}

.color-picker-lower .label {
    display: inline-block;
    text-align: right;
    width: 66px;
    margin-right: 10px;
    user-select: none;
}

.color-picker input[type=range] {
    display: inline-block;
    width: 200px;
    margin-right: 4px;
}

.color-picker input[type=text] {
    display: inline-block;
    width: 64px;
}

.color_picker_cel {
    width: 140px;
    height: 96px;
    border: 1px solid theme.$color-outline;
    border-radius: theme.$size-frame-rounding;
    margin-top: 10px;
    margin-right: 10px;
}
