<div class="color-picker">
    <div class="flex-row">
        <span class="label">R: </span>
        <input id="color-r-slider" type="range" min="0" max="255" step="5" [appAutoFocus]="autoFocus" [value]="roundNumber(color.rgbR)" [formControl]="rgbR">
        <input id="color-r" type="text" [value]="roundNumber(color.rgbR)" [formControl]="rgbR" ><br/>
    </div>
    <div class="flex-row">
        <span class="label">G: </span>
        <input id="color-g-slider" type="range" min="0" max="255" step="5" [value]="roundNumber(color.rgbG)" [formControl]="rgbG">
        <input id="color-g" type="text" [value]="roundNumber(color.rgbG)" [formControl]="rgbG"><br/>
    </div>
    <div class="flex-row">
        <span class="label">B: </span>
        <input id="color-b-slider" type="range" min="0" max="255" step="5" [value]="roundNumber(color.rgbB)" [formControl]="rgbB">
        <input id="color-b" type="text" [value]="roundNumber(color.rgbB)" [formControl]="rgbB"><br/>
    </div>

    <div class="flex-row">
        <span class="label">H: </span>
        <input id="color-h-slider" type="range" min="0" max="359" step="5" [value]="roundNumber(color.hslH)" [formControl]="hslH">
        <input id="color-h" type="text" [value]="roundNumber(color.hslH)" [formControl]="hslH"><br/>
    </div>
    <div class="flex-row">
        <span class="label">S: </span>
        <input id="color-s-slider" type="range" min="0" max="1" step="0.025" [value]="roundNumber(color.hslS)" [formControl]="hslS">
        <input id="color-s" type="text" [value]="roundNumber(color.hslS)" [formControl]="hslS"><br/>
    </div>
    <div class="flex-row">
        <span class="label">L: </span>
        <input id="color-l-slider" type="range" min="0" max="1" step="0.025" [value]="roundNumber(color.hslL)" [formControl]="hslL">
        <input id="color-l" type="text" [value]="roundNumber(color.hslL)" [formControl]="hslL"><br/>
    </div>

    <div class="color-picker-lower">
        <div class="color_picker_cel" style="background-color: rgb({{color.rgbR | number:'1.0-0'}}, {{color.rgbG | number:'1.0-0'}}, {{color.rgbB | number:'1.0-0'}});"></div>
        <div class="flex-row">
            <span class="label">Hex: </span>
            <input id="color-hex" type="text" [value]="color.hex" [formControl]="hex"><br/>
        </div>
    </div>
</div>
